body {
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  background-image: url("img/bg-dandelions.png");
  background-size: 790px auto;
  background-repeat: no-repeat;
  background-position-x: calc(100%/2-160px);
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin: 0;
  text-align: center;
}

.product_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
  justify-content: center;
}

.cotegory {
  font-size: 12px;
  line-height: 24px;
  color: #a5a3b9;
  margin-top: 15px;
  margin-bottom: 5px;
}

.product_name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 5px;
}

.price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700px;
  margin-top: 25px;
}

.price_rub {
  font-size: 20px;
  margin-left: 160px;
}

.product_card_box {
  display: inline-block;
  box-sizing: border-box;
  max-width: 347px;
  max-height: 573;
  padding: 25px;
  margin: 10px;
  background-color: #f7f7fa;
}

.ingredients {
  margin: 5px;
}